* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color-pag: #F3603B;
    --p-font-color: #535353;
    --title-font-color: #232C50;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

h1, h2, h3, h4 {
    color: var(--title-font-color);
    font-weight: 700;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1rem;
}

p {
    color: var(--p-font-color);
    font-size: 1rem;
    line-height: 1.9rem;
}


/*Header*/
header {
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0.5px 15px var(--title-font-color);
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    list-style: none;
    padding: 30px;
    transition: all 90ms;
}

header nav ul li:hover {
    transform: scale(1.2);
}

header nav, header .getStarted {
    display: none;
}

header nav ul a {
    color: var(--title-font-color);
    text-decoration: none;
}

.hamburger {
    display: flex;
    transition: all 90ms;
}

.hamburger:hover{
    transform: scale(1.1);
}

/* Main*/

main {
    padding-left: 6%;
    padding-right: 6%;
}

.firstSection, .secondSection {
    margin-bottom: 8%;
}

/* first Section */

.firstSection {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
    padding: 2%;
    text-align: center;
}

.firstSection img {
    width: 80vw;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.firstSection p {
    color: var(--p-font-color);
    margin-bottom: 25px;
    padding-right: 35px;
}

.getStarted {
    background-color: var(--main-color-pag);
    border: none;
    border-radius: 35px;
    box-shadow: 0px 4px 8px var(--main-color-pag);
    color: #fff;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 9px 20px;
    text-decoration: none;
    transition: all 100ms;
}

.getStarted:hover {
    background-color: var(--title-font-color);
    box-shadow: 0px 4px 8px var(--title-font-color);
    transform: scale(0.92);
}

/* second Section */
.secondSection {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
}

.secondSection > article {
    margin-bottom: 50px;
}

.secondSection > article h2 {
    margin-bottom: 20px;
}

.secondSection .numList {
    align-items: center;
    display: flex;
    margin-bottom: 25px;
}

.divMargin article + article{
    margin-top: 60px;
}

.paragraph {
    text-align: justify;
}

.numList h3 {
    margin-left: 15px;
}

.littleButton {
    background-color: var(--main-color-pag);
    border-radius: 35px;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    transition: 100ms;
    width: 50px;
}

.littleButton:hover {
    background-color: var(--title-font-color);
    transform: scale(1.1);
}

a { 
    cursor: pointer;
}

li a:hover {
    color: var(--main-color-pag);
}

/* Third section */
.thirdSection {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px 0 5% 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5% 0 5% 0;
    max-width: 2000px;
    width: 100%;
}

.container article{
    background-color: #FAFAFA;
    margin: 90px 0 0 0;
    padding-top: 100px;
    position: relative;
    text-align: center;
    transition: all 200ms;
    width: 80vw;
}

.container p {
    padding: 0 10% 20px 10%;
}

.thirdSection img {
    left: 0;
    margin: 0 auto 0 auto;
    position: absolute;
    right: 0;
    top: -80px;
    z-index: 1;
}

/* footer */
footer {
    background-color: #1E1E26;
    text-align: center;
}

footer .footerTop {
    align-items: center;
    background-color: var(--main-color-pag);
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.footerTop h3 {
    color:#fff;
    font-size: 1.5rem;
    margin-bottom: 4%;
    text-align: center;
}

footer .getStartedFooter {
    background-color: #fff;
    border: none;
    border-radius: 35px;
    color: var(--main-color-pag);    
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 9px 20px;
    text-decoration: none;
    transition: all 100ms;
}

.getStartedFooter:hover {
    color: #fff;
    background-color: var(--title-font-color);
    box-shadow: 0px 4px 8px var(--title-font-color);
    transform: scale(0.92);
}

.footerBottom {
    align-items: center;
    color:#fff;
    display: flex;
    flex-direction: column-reverse;
    padding: 9% 6% 6% 8%;
}

.logoSocial {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}

.logoSocial ul {
    padding-bottom: 20%;
}

.socialContact{
    display: flex;
    justify-content: space-between;
}

.socialContact li {
    list-style: none;
    padding: 15px;
}

.menu1, .menu2 {
    list-style: none;
    padding: 50px 30px;
    text-align: left;
}

.menus li {
    padding-bottom: 20px;
}

.footerBottom a{
    color:#fff;
    text-decoration: none;
}

.menus {
    align-items: row;
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    width: 80vw;
}

footer input[type=email] {
    border-radius: 35px;
    padding: 5.5px 15px;
}

footer input[type=email]:valid {
    border: 3px solid rgb(49, 201, 49);
}

footer input[type=email]:invalid {
    border: 3px solid #ce1c1c;
}

.footerBottom .littleButton:hover {
    background-color: #fff;
    color: var(--main-color-pag);
    transform: scale(0.92);
}

/* Media queries */

@media screen and (min-width: 1440px){    
    
    h1 {
        font-size: 3.5rem;
        margin-bottom: 10px;
    }
    
    h2 {
        font-size: 2.25rem;
    }
    
    h3 {
        font-size: 1.4rem;
    }
    
    p {
        font-size: 20px;
        line-height: 2rem;
    }
    
    /* Header */
    header {
        padding-left: 30px;
        padding-right: 30px;
    }

    header nav, header .getStarted {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    /* Main */
    main {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .firstSection, .secondSection {
        margin-bottom: 100px;
    }

    .firstSection {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        padding: 40px;
    }

    .firstSection article {
        text-align: left;
        width: 35vw;
    }

    .firstSection p {
        color: black;
    }

    .firstSection img {
        width: 40vw;
    }
    
    .getStarted {
        font-size: 1rem;
        padding: 15px 40px;
    }

    /* second section */
    .secondSection {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px;
    }

    .secondSection > article {
        margin-bottom: none;
        text-align: left;
        width: 35vw;
    }

    .secondSection > article h2 {
        margin-bottom: 30px;
    }

    .secondSection > article p{
        color: black;
    }

    .secondSection > div {
        max-width: 40vw;
    }

    .secondSection .paragraph {
        padding-left: 60px;
        text-align: left;
    }

    .numList h3 {
        margin-left: 10px;
    }

    .divMargin article + article{
        margin-top: 100px;
    }

    /* third section */
    .thirdSection .container {
        flex-direction: row;
        justify-content: center;
    }
    
    .container article:hover{
        transform: translateY(-15px);
    }

    /* footer */
    footer .footerTop {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 100px;
    }

    .footerTop h3 {
        font-size: 2.25rem;
        margin: 0;
        text-align: left;
        width: 30vw;
    }

    footer .getStartedFooter {
        font-size: 1rem;
        padding: 15px 40px;
    }

    .footerBottom {
        align-items: flex-start;
        background-color: #1E1E26;
        color:#fff;
        flex-direction: row;
        justify-content: space-between;
        padding: 80px 50px 0 50px;
    }

    .logoSocial {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 140px;
        justify-content: space-between;
    }

    .logoSocial ul {
        padding: 0;
    }

    .menus {
        align-items: flex-start;
        justify-content: space-around;
        width: 60vw;
    }

    .menu1, .menu2 {
        padding: 0 30px 0 30px;
        height: 180px;
    }

    .copyright {
        padding: 0 50px 30px 80px;
        text-align: right;
    }
}