* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --title-font-color: #232C50;
    --p-font-color: #535353;
    --main-color-pag: #F3603B;
}

body {
    background-color: #F3603B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23F3A853' width='11' height='11'/%3E%3Crect fill='%23f4a956' x='10' width='11' height='11'/%3E%3Crect fill='%23f5aa59' y='10' width='11' height='11'/%3E%3Crect fill='%23f5ab5c' x='20' width='11' height='11'/%3E%3Crect fill='%23f6ab5f' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23f7ac62' y='20' width='11' height='11'/%3E%3Crect fill='%23f7ad65' x='30' width='11' height='11'/%3E%3Crect fill='%23f8ae67' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23f9af6a' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23f9b06d' y='30' width='11' height='11'/%3E%3Crect fill='%23fab170' x='40' width='11' height='11'/%3E%3Crect fill='%23fab273' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23fbb375' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23fbb478' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23fbb57b' y='40' width='11' height='11'/%3E%3Crect fill='%23fcb67e' x='50' width='11' height='11'/%3E%3Crect fill='%23fcb780' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23fcb883' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23fdb986' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23fdba88' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23fdbb8b' y='50' width='11' height='11'/%3E%3Crect fill='%23fdbc8e' x='60' width='11' height='11'/%3E%3Crect fill='%23febd90' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23febe93' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23febf96' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23fec098' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23fec29b' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23fec39d' x='70' width='11' height='11'/%3E%3Crect fill='%23fec4a0' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23fec5a2' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23fec6a5' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23fec7a8' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23fec9aa' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23fecaad' x='80' width='11' height='11'/%3E%3Crect fill='%23fdcbaf' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23fdccb2' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23fdcdb4' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23fdcfb7' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23fcd0b9' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23fcd1bc' x='90' width='11' height='11'/%3E%3Crect fill='%23fcd2be' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23fbd3c0' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23fbd5c3' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23fad6c5' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23fad7c8' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23f9d9ca' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23f9dacc' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23f8dbcf' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23f7dcd1' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23f7ded3' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23f6dfd6' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23f5e0d8' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23f4e2da' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23f4e3dd' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23f3e4df' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23f2e6e1' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23f1e7e3' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23f0e8e6' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23efeae8' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEEBEA' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

h1, h2, h3, h4 {
    font-weight: 700;
    color: var(--title-font-color);
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    color: var(--p-font-color);
    font-size: 20px;
    line-height: 3rem;
}


/*Header*/
header {
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0.5px 15px var(--title-font-color);
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    top: 0;
        
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    padding: 10px;
    list-style: none;
    
}

header nav {
    display: none;
}

header .getStarted {
    display: none;
}

header nav ul a {
    text-decoration: none;
    color: var(--title-font-color);
}

.hamburger {
    display: flex;
}

/* Main*/

main {
    padding-left: 3%;
    padding-right: 3%;
}

.firstSection, .secondSection {
    margin-bottom: 80px;
}

/* first Section */

.firstSection {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.firstSection article {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.firstSection img {
    width: 80vw;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 10px;
    
}

.firstSection p {
    color: var(--p-font-color);
    padding-bottom: 20px;
}

.getStarted {
    background-color: var(--main-color-pag);
    color: #fff;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 35px;
    border: none;
    box-shadow: 0px 4px 8px var(--main-color-pag);
    text-decoration: none;
    display: inline-block;
    transition: all 100ms;
}

.getStarted:hover {
    background-color: var(--title-font-color);
    box-shadow: 0px 4px 8px var(--title-font-color);
    transform: scale(0.95);
}

.littleButton:hover {
    background-color: var(--title-font-color);
    transform: scale(1.1);
}

/* second Section */
.secondSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 50px;
}

.secondSection > article {
    margin-bottom: 90px;
}

.secondSection > article h2 {
    margin-bottom: 20px;
}

.secondSection .numList {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.divMargin article + article{
    margin-top: 70px;
}

.paragraph {
    text-align: justify;
}

.numList h3 {
    margin-left: 15px;
}

.littleButton {
    background-color: var(--main-color-pag);
    color: #fff;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 35px;
    border: none;
    transition: 100ms;
}

a:hover, .getStarted:hover, .littleButton:hover { 
    cursor: pointer;
}

li a:hover {
    color:#F3603B;
}

.thirdSection {
    background-color: aqua;
}

.thirdSection > div {
    display: flex;
    flex-direction: column;
}























/* Media queries */
@media screen and (min-width: 1440px){
    
    header nav {
        display: flex;
    }

    header .getStarted {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    main {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .firstSection, .secondSection {
        margin-bottom: 100px;
    }

    .firstSection article {
        width: 35vw;
        text-align: left;
    }

    .firstSection p {
        color: black;
    }

    h1 {
        font-size: 3.5rem;
    }
    
    .firstSection {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        padding: 40px;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.4rem;
    }
    
    .firstSection img {
        width: 40vw;
    }
    
    .secondSection {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px;
    }

    .secondSection > article {
        width: 35vw;
        text-align: left;
        margin-bottom: none;
    }

    .secondSection > article h2 {
        margin-bottom: 30px;
    }

    .secondSection > article p{
        color: black;
    }

    .secondSection > div {
        max-width: 40vw;
    }

    .secondSection .paragraph {
        text-align: right;
        padding-left: 80px;
        text-align: left;
    }

    .divMargin article + article{
        margin-top: 100px;
    }

    .thirdSection > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}